* {
    box-sizing: border-box
}

body {
    background-color: #3a3a3a;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}


form {
    text-align: left;
}

.result {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    width: 25%;
}


.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

h1 {
    color: white;
}

nav {
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 24px;
}

nav a {
    color: #111111;
}

nav a:hover {
    color: #0faa55;
    /*light greenish color*/
}

nav .welcome {
    color: #111111;
    position: relative;
    padding-left: 15px;
    float: left;
}
