/* This is a CSS comment */
body {
  background-color: #3a3a3a;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
}

nav {
  background-color: lightgray;
  border-radius: 5px;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
  text-align: right;
}

nav li {
  display: inline-block;
  font-size: 24px;
}

nav a {
  color: #111111;
}

nav a:hover{
  color: #0faa55; /*light greenish color*/
}

nav .welcome {
  color: #111111;
  position: relative;
  padding-left: 15px;
  float: left;
}

div {
  width: 100%;
  height: 20%;
}

div p {
  padding: 5px;
  background-color: #0faa55;
  border: 2px solid white;
  border-radius: 5px;
}

.info {
  position: fixed;
  background-color: green;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 25px;
  width: 100%;
  height: 5%;
}
